:root {
    --color-dark-gray :hsl(217, 19%, 35%);
    --color-saturated: hsl(214, 17%, 51%);
    --color-gray-blue:rgb(233 240 246);
    --color-light: rgb(255 255 255);
}
*::after,
*::before,
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-size: 13px;
     font-family: "Manrope", sans-serif;
    background-color: var(--color-gray-blue);

}
img {
    width: 100%;
    max-height: 100%;
}
.main{
    width: 90%;
    max-width: 600px;
   margin: 2em auto 0 auto;
    border-radius: 16px;
    background-color: var(--color-light);
    margin-bottom: 3em;
}
.text {
    margin-top:2em;
}

.text,
.user {
    width: 95%;
    margin-inline:  auto;
}

.text .heading {
    font-weight: 700;
    font-size: 1.2rem;
}

.heading ,
.user-name {
    color:  rgb(72 73 89);
}

.user {
    display: flex;
    align-items: center;
    gap: 0.4em;
    justify-content: space-between;
    margin-bottom: 3em;
    padding-bottom: 2em;
}
.user .date ,
.text .description {
    color:rgb(143 146 156);
    font-weight: 500;
}
.text .description {
    margin-bottom: 2.5em;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.user .user-name {
    font-weight: 700;
    font-size: 1.05rem;
    margin-bottom: .2em;
}

.share-cls {
        margin-left: 2em;
} 
.imageshare {
width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(212 217 223);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.49em
}
.social_links {
    display: none;
}
 .imagehero {
    display: flex;
    overflow: hidden;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
 }

.shared{
    background: #4a516c;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:2em;
    padding: 2em;
    align-items: center;
    height: 75px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.hide_from_view {
    display:none;
}
.social_text {
    text-transform: uppercase;
    font-weight: 700;
    color:rgb(139 146 173);
    font-size: 1.2rem;

}
.shareb{
    padding: 1.2em;
    margin-left: 5em;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(212 217 223);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.49em;
}
.arrow {
position: absolute;
    width: 20px;
    height: 20px;
    bottom: 56px;
    margin-left: 0px;
    border-width: 16px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

@media (min-width: 30rem) {
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    position: relative;
}
.main {
    display: grid;
    gap:0.2em;
    grid-template-columns: 48% 1fr;

}    
.main .imagehero {
    display: flex;
    overflow: hidden;
    justify-content: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0;
    background-image: url(./images/drawers.jpg);
}
.word_wrap {
    position: relative;
}
.attribution {
    position: absolute;
    bottom: 0;
    text-align: center;
}
.shared {
     position: absolute;
     bottom: 121px;
     left: 136px;
     z-index: 999;
     border-radius: 14px;
}
.clear{
    display: none;
}
.shared {
    width: 78%;
}

.hide_from_view {
    display:flex;
}
.user{
    padding-right: 2em;
}
}